body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.light {
    background-color: #fbfbfb;
    color: #282f40;
}

.dark {
    background-color: rgb(31 41 55);
    color: #f5f5f5;
}

.icon {
    position: relative;
    display: inline-block;
  }
  
  .icon img {
    transition: opacity 0.3s ease;
  }
  
  .icon:hover img {
    opacity: 0.7;
  }
  
  .icon[title] {
    position: relative;
  }
  
  .icon[title]:hover:after {
    content: attr(title);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
  }
  
  .card2 {
  > div {
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    // Estado normal
    &.border {
      border-color: rgba(255, 255, 255, 0.1);
    }
    
    // Animación al pasar el ratón
    &:hover {
      transform: translateY(-8px);
      border-color: rgba(255, 255, 255, 0.4);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    
    // Versión para modo oscuro
    &.dark\:bg-dark-card {
      &:hover {
        border-color: rgba(255, 255, 255, 0.4);
      }
    }
    
    // Evita que los divs de iconos (tech stack) se eleven
    .flex.flex-wrap {
      transition: none;
      transform: none;
      
      span {
        transition: none;
        transform: none;
      }
    }
  }
}

// Para asegurar que la animación es suave
.bg-white, .dark\:bg-dark-card {
  will-change: transform;
}